$mainColor: rgba(87, 168, 243, 1);
$mainFontSize: 1.2rem;
$red: rgb(224, 53, 10);
$green: rgb(12, 170, 59);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.stopwatch {
  font-size: $mainFontSize;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(115, 115, 115);
  background: radial-gradient(
    circle,
    rgba(16, 42, 34, 0.749) 0%,
    rgba(20, 20, 20, 1) 90%
  );
  color: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  letter-spacing: 0.1rem;
  position: relative;
  &__icons {
    align-self: flex-end;
  }
  &__icon-options,
  &__icon-instruction {
    padding: 0.6rem;
    cursor: pointer;
  }
  &__title {
    font-size: $mainFontSize * 1.8;
  }
  &__timer {
    font-size: $mainFontSize * 2.2;
    color: $mainColor;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
  }
  &__control {
    flex: 1 1 15%;
    margin: 1rem;
    text-transform: uppercase;
    background-color: transparent;
    transition: background-color 0.6s;
    border: 0.1rem solid $mainColor;
    &--registry {
      flex: 0 0 70%;
      margin: 1rem auto;
    }
    &:hover,
    &:focus {
      background-color: $mainColor;
      border-color: $mainColor;
      outline: none;
    }
  }
}
.instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(20, 20, 20, 0.5);
  color: rgba(20, 20, 20, 1);
  display: none;
  &__btn {
    border: 0.15rem solid $mainColor;
    padding: 0.5rem 2rem;
    text-transform: uppercase;

    transition: background-color 0.6s;
    &:hover,
    &:focus {
      background-color: $mainColor;
    }
  }
  &__icon {
    color: $mainColor;
  }
  &__title {
    font-size: $mainFontSize * 1.3;
  }
  &__wrapper {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 25rem;
    height: 25rem;
  }
}

.registry {
  &__list {
    list-style-type: none;
    color: $mainColor;
    font-size: $mainFontSize * 0.9;
    font-weight: 300;
  }
  &__item {
    margin: 0.2rem 0;
  }
  &__time {
    font-weight: normal;
  }
}

.options {
  background-color: rgba(15, 15, 15, 0.6);
  position: absolute;
  top: 35%;
  right: 5%;
  padding: 0.5rem 0.3rem;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  &__color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    margin: 0.5rem;
    cursor: pointer;
    &--red {
      background-color: $red;
    }
    &--blue {
      background-color: $mainColor;
    }
    &--green {
      background-color: $green;
    }
  }
}
.options.active {
  opacity: 1;
  transform: translateY(-80%);
}
