$blue: rgba(87, 168, 243, 1);
$mainFontSize: 1rem;
$red: rgb(224, 53, 10);
$green: rgb(12, 170, 59);

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  pointer-events: none;
}

body {
  min-height: 100vh;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  @include flex(row, center, center);
  position: relative;
  overflow: hidden;
}

.stopwatch {
  font-size: $mainFontSize;
  padding: 1rem 2rem;
  @include flex(column, center, center);
  background: rgb(115, 115, 115);
  background: radial-gradient(
    circle,
    rgba(16, 42, 34, 0.749) 0%,
    rgba(20, 20, 20, 1) 90%
  );
  color: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.5rem black;
  letter-spacing: 0.1rem;
  position: relative;
  &__icons {
    align-self: flex-end;
  }
  &__icon-options,
  &__icon-instruction {
    padding: 0.6rem;
    cursor: pointer;
  }
  &__last-result {
    visibility: hidden;
  }
  &__title {
    font-size: $mainFontSize * 1.8;
  }
  &__timer {
    font-size: $mainFontSize * 2.2;
    color: $blue;
  }
}

.controls {
  @include flex(row, space-between, center);
  flex-wrap: wrap;
  margin: 1rem;
  &__btn {
    flex: 1 1 15%;
    margin: 1rem;
    text-transform: uppercase;
    background-color: transparent;
    transition: background-color 0.6s;
    border: 0.1rem solid $blue;
    &--registry {
      flex: 0 0 70%;
      margin: 1rem auto;
    }
    &:hover,
    &:focus {
      background-color: $blue;
      border-color: $blue;
      outline: none;
    }
  }
}

.instruction {
  font-size: $mainFontSize;
  @include flex(row, center, center);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 70%;
  left: 0;
  background-color: rgba(20, 20, 20, 0.5);
  color: rgba(20, 20, 20, 1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s ease-in-out;
  &__btn {
    border: 0.15rem solid $blue;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    transition: background-color 0.6s ease-in-out;
    background-color: $blue;
  }
  &__icon {
    color: $blue;
  }
  &__title {
    font-size: $mainFontSize * 1.2;
  }
  &__wrapper {
    background-color: aliceblue;
    @include flex(column, space-between, center);
    padding: 2rem;
    width: 25rem;
    height: 25rem;
  }
}

.instruction.active {
  opacity: 1;
  transform: translateY(-70%);
  pointer-events: all;
}

.registry {
  display: none;
  &__list {
    list-style-type: none;
    color: $blue;
    font-size: $mainFontSize * 0.9;
    font-weight: 300;
  }
  &__item {
    margin: 0.2rem 0;
  }
  &__time {
    font-weight: normal;
  }
}

.registry.active {
  display: block;
}

.options {
  background-color: rgba(15, 15, 15, 0.4);
  border-radius: 1rem;
  position: absolute;
  top: 35%;
  right: 5%;
  padding: 0.5rem 0.3rem;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  &__color {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    margin: 0.5rem;
    cursor: pointer;
    &--red {
      background-color: $red;
      box-shadow: 0px 0px 8px 0px $red;
    }
    &--blue {
      background-color: $blue;
      box-shadow: 0px 0px 8px 0px $blue;
    }
    &--green {
      background-color: $green;
      box-shadow: 0px 0px 10px 0px $green;
    }
  }
}
.options.active {
  opacity: 1;
  transform: translateY(-70%);
}
